.une{
    margin-bottom: 20px;
    width: 361px;
}
.trois{
    margin-left: 15px;
    float: left;
    padding-right: 20px;
    width: 350px;
}
.quatre{
    margin-left: 47px;
    float: left;
    width: 350px;
}
.deux{
    float: right;
    padding-right: 20px;
    width: 350px;
}
footer{
    clear: both;
}
.table{
    margin-bottom: 30px;
    color:white;
}