<div *ngIf="pilotes">
    <h1 [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">Pilote</h1>
    <h2>{{ pilotes.Nom }}</h2>
    <h2>- Coût: {{ pilotes.Cout }}</h2>
    <h2>- Commentaires: {{ pilotes.Commentaires }}</h2>
    <h2>- Unique: {{ pilotes.Unique }}</h2>
    <h2>- ValeurPilotage: {{ pilotes.ValeurPilotage }}</h2>

    <h1 [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">Type d'améliorations:</h1>
    <div *ngFor="let type of pilotes.Type">
        <h2>- {{ type.Nom }}</h2>
    </div>
    <h1 [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">Camp: </h1>
    <div *ngFor="let camp of pilotes.Camp">
        <h2>- {{ camp.Nom }}</h2>
    </div>
    <h1 [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">Vaisseaux: </h1>
    <div *ngFor="let vaisseau of pilotes.Vaisseaux">
        <h2>- {{ vaisseau.Nom }}</h2>
    </div>
</div>  

