<div *ngIf="pilotes">
    <table class="table">
        <thead>
          <tr [@openClose]="isOpen ? 'open' : 'closed'">
            <th scope="col">Pilote</th>
            <th scope="col">Cout</th>
            <th scope="col">Valeur de pilotage</th>
            <th scope="col">Unique</th>
            <th scope="col">Vaisseaux</th>
            <th scope="col">Camp</th>
            <!--<th scope="col">Type d'améliorations</th>-->
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ pilotes.Nom }}</td>
            <td>{{ pilotes.Cout }}</td>
            <td>{{ pilotes.ValeurPilotage }}</td>
            <td>{{ pilotes.Unique }}</td>
            <td *ngFor="let v of pilotes.Vaisseaux">{{ v.Nom }}</td>
            <td *ngFor="let c of pilotes.Camp">{{ c.Nom }}</td>
            <!--<td *ngFor="let t of pilotes.Type">{{ t.Nom }}</td>-->
        </tr>
        </tbody>
    </table>

    <h1>{{ pilotes.Commentaires }}</h1>
</div>  

