<div *ngIf="actions">
    <table class="table">
        <thead>
          <tr [@openClose]="isOpen ? 'open' : 'closed'">
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ actions.Nom }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
          <tr [@openClose]="isOpen ? 'open' : 'closed'">
            <th scope="col">Vaisseaux</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let v of actions.vaisseau">
            <td>{{ v.Nom }}</td>
        </tr>
        </tbody>
    </table>
</div>
