<div *ngIf="collections">
        <div class="une"> 
            <table class="table">
                <thead>
                  <tr [@openClose]="isOpen ? 'open' : 'closed'">
                    <th scope="col">Collection</th>
                    <th scope="col">Camp</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ collections.Nom }}</td>
                    <td *ngFor="let camp of collections.Camp">{{ camp.Nom }}</td>
                    <td><button (click)="deleteCollection(collections.Id)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="cinq">
          <table class="table">
              <thead>
                  <tr [@openClose]="isOpen ? 'open' : 'closed'">
                    <th scope="col">Escadrons</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let e of collections.Escadrons | slice:compteure:compteure2">
              <tr>
                  <td><a [routerLink]="['/escadron', e.Id ]">{{ e.Nom }}</a></td>
                  <td><button (click)="deleteEscadron(e.Id)">
                      Delete
                  </button></td>
              </tr>
              </tbody>
              <button *ngIf="compteure>=3" (click)="beforeE()">
                Page précédente
              </button>
              <button *ngIf="compteure2<=3" (click)="nextE()">
                Page suivante
              </button>
          </table>
      </div>
        <div class="deux">    
                <table class="table">
                    <thead>
                        <tr [@openClose]="isOpen ? 'open' : 'closed'" >
                          <th scope="col">Vaisseaux</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let vaisseau of collections.Vaisseau | slice:compteur:compteur2">
                    <tr>
                        <td><a [routerLink]="['/vaisseau', vaisseau.Id ]">{{ vaisseau.Nom }}</a></td>
                        <td>{{ vaisseau.Quantite}}</td>
                        <td><button (click)="deleteIntoCollection(vaisseau.Id, collections.Id)">
                            Delete
                        </button></td>
                    </tr>
                    </tbody>
                    <button *ngIf="compteur>=3" (click)="before()">
                      Page précédente
                    </button>
                    <button *ngIf="compteur<=2" (click)="next()">
                      Page suivante
                    </button>
                </table>
                
        </div>
        <div class="trois">
            <table class="table">
                <thead>
                    <tr [@openClose]="isOpen ? 'open' : 'closed'" >
                      <th scope="col">Pilotes</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let pilote of collections.Pilote | slice:compteurp:compteurp2">
                <tr>
                    <td><a [routerLink]="['/pilote', pilote.Id ]">{{ pilote.Nom }}</a></td>
                    <td>{{ pilote.Quantite}}</td>
                   <td><button (click)="deletePiloteIntoCollection(pilote.Id, collections.Id)">
                        Delete
                    </button></td>
                </tr>
                </tbody>
                <button *ngIf="compteurp>=3" (click)="beforeP()">
                  Page précédente
                </button>
                <button *ngIf="compteurp<=2" (click)="nextP()">
                  Page suivante
                </button>
            </table>
        </div>
        <div class="quatre">
            <table class="table">
                <thead>
                    <tr [@openClose]="isOpen ? 'open' : 'closed'">
                      <th scope="col">Améliorations</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let amelioration of collections.Amelioration | slice:compteura:compteura2">
                <tr>
                    <td><a [routerLink]="['/amelioration', amelioration.Id ]">{{ amelioration.Nom }}</a></td>
                    <td>{{ amelioration.Quantite}}</td>
                    <td><button (click)="deleteAmeliorationIntoCollection(amelioration.Id, collections.Id)">
                        Delete
                    </button></td>
                </tr>
                </tbody>
                <button *ngIf="compteura>=3" (click)="beforeA()">
                  Page précédente
                </button>
                <button *ngIf="compteura<=2" (click)="nextA()">
                  Page suivante
                </button>
            </table>
        </div>
        
        <footer>
            <div>
                <a [routerLink]="['/updateCollection/'+collections.Id]"  class="btn btn-link">Ajouter éléments dans la collection</a>
            </div>
            <div>
                <a [routerLink]="['/registerEscadron/'+collections.Id]" class="btn btn-link">Formez vos escadrons</a>
            </div>
            <div *ngFor="let user of collections.Users">
                <a [routerLink]="['/inscrit/'+user.Nom]"  class="btn btn-link">retour à la liste de collection</a>
            </div>
        </footer>
</div>
