.une{
    margin-bottom: 20px;
}
.cinq{
    float: left;
    padding-right: 20px;
    width: 256px;
}
.trois{
    float: left;
    padding-right: 20px;
    margin-left: 110px;
    width: 256px;
}
.quatre{
    margin-left: 15px;
    float: left;
    width: 256px;
}
.deux{
    float: right;
    padding-right: 20px;
    width: 256px;
}
footer{
    clear: both;
}
.table{
    margin-bottom: 30px;
    color:white;
}