
@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @:Nom: <input type="text" placeholder="Username" name="username">
    @:Password: <input type="text" placeholder="Password" name="psw">
    <button type="submit">Login</button>
}
