@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>X-WING STAR-WARS</h1>
    <p class="lead">Bienvenus sur mon site destiné à la présentation du jeu de figurines X-WING mais aussi à la préparation de vos escadrons afin de pouvoir disputer une partie plus rapidement.</p>
</div>

<div class="row">
    
</div>