<div *ngIf="vaisseaux">
    <table class="table">
        <thead>
          <tr [@openClose]="isOpen ? 'open' : 'closed'">
            <th scope="col">Vaisseau</th>
            <th scope="col">Energie</th>
            <th scope="col">Bouclier:</th>
            <th scope="col">Structure</th>
            <th scope="col">ValeurAgilite</th>
            <th scope="col">ValeurArmePrincipale</th>
            <th scope="col">Structure</th>
            <th scope="col">Taille</th>
            <th scope="col">Camp</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ vaisseaux.Nom }}</td>
            <td>{{ vaisseaux.Energie }}</td>
            <td>{{ vaisseaux.Bouclier }}</td>
            <td>{{ vaisseaux.Structure }}</td>
            <td>{{ vaisseaux.ValeurAgilite }}</td>
            <td>{{ vaisseaux.ValeurArmePrincipale }}</td>
            <td>{{ vaisseaux.Taille }}</td>
            <td *ngFor="let c of vaisseaux.Camp">{{ c.Nom }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
          <tr [@openClose]="isOpen ? 'open' : 'closed'">
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of vaisseaux.Action">
            <td>{{ a.Nom }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
          <tr [@openClose]="isOpen ? 'open' : 'closed'">
            <th scope="col">Pilote</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of vaisseaux.Pilote">
            <td>{{ p.Nom }}</td>
        </tr>
        </tbody>
    </table>
</div>