p {
  font-family: Lato;
}

.gauche{
  float:left;
  width: 20%;
  background-color: black;
  height: 808px;
  text-align: justify;
  font-size: 20px;
  border-top: 1px solid red;
}
.gauche img{
  width: 100%;
  height: 100%;
}
.droite{
  float: left;
  width: 20%;
  background-color: black;
  height: 808px;
  padding-top: 60px;
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid red;
}
.centre{
  float: left;
  width: 60%;
  height: 808px;
  text-align: justify;
  padding:50px;
  background-color: black;
  color: whitesmoke;
  border: 1px solid red;
}
footer{
  clear: both;
  height: 35px;
  width: 100%;
  background-color: black;
  color: red;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/